.btn-custom {
  background-color: #176B87;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-custom:hover {
  background-color: #145566; /* slightly darker for hover */
}

